In [ ]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

import warnings
warnings.simplefilter("ignore")

## One Attribute Group

**Please run all cells before this cell, including the import cell at the top of the notebook.**

In [ ]:
all_cones = Table.read_table('cones.csv')
cones = all_cones.drop('Color').exclude(5)
cones

In [ ]:
cones.group('Flavor')

In [ ]:
cones.group('Flavor', list)

In [ ]:
cones.group('Flavor', len)

In [ ]:
cones.group('Flavor', min)

In [ ]:
min(cones.where('Flavor', 'chocolate').column('Price'))

In [ ]:
min(cones.where('Flavor', 'strawberry').column('Price'))

In [ ]:
cones.group('Flavor', np.average)

In [ ]:
def data_range(x):
    return max(x) - min(x)

In [ ]:
cones.group('Flavor', data_range)

In [ ]:
nba = Table.read_table('nba_salaries.csv').where('season', 2020).drop('rank', 'season')
nba

In [ ]:
teams_and_money = nba.select('team', 'salary')
teams_and_money.group('team', sum).sort(1, descending=True)

In [ ]:
nba.group('team', sum)

In [ ]:
position_and_money = nba.select('position', 'salary')
position_and_money.group('position')

In [ ]:
position_and_money.group('position', np.average)

## Cross Classification

**Please run all cells before this cell, including the previous example cells and the import cell at the top of the notebook.**

In [ ]:
all_cones

In [ ]:
all_cones.group('Flavor')

In [ ]:
all_cones.group(['Flavor', 'Color'])

In [ ]:
all_cones.group(['Flavor', 'Color'], max)

In [ ]:
nba

In [ ]:
nba.drop(0).group(['team', 'position'], np.average)

In [ ]:
full_table = Table.read_table('educ_inc.csv')
ca_2014 = full_table.where('Year', are.equal_to('1/1/14 0:00')).where('Age', are.not_equal_to('00 to 17')).drop(0).sort('Population Count')
ca_2014

In [ ]:
no_ages = ca_2014.drop(0)
no_ages

In [ ]:
no_ages.group([0, 1, 2], sum)

## Example 1: NBA Salaries with group

**Please run all cells before this cell, including the previous example cells and the import cell at the top of the notebook.**

In [ ]:
starter_salaries = ...
starter_salaries

In [ ]:
nba.where('team', 'Golden State Warriors').select('position', 'salary').group('position', max)

## Pivot Tables

**Please run all cells before this cell, including the previous example cells and the import cell at the top of the notebook.**

In [ ]:
all_cones

In [ ]:
all_cones.group(['Flavor', 'Color'])

In [ ]:
all_cones.pivot('Flavor', 'Color')   # pivot table, contingency table

In [ ]:
all_cones.pivot('Color', 'Flavor')

In [ ]:
all_cones.pivot('Color', 'Flavor', values = 'Price', collect = max)

In [ ]:
nba

In [ ]:
nba.drop(0).group(['team', 'position'], np.average)

In [ ]:
nba.pivot('position', 'team', 'salary', np.average)

## Example 2: Skyscrapers

**Please run all cells before this cell, including the previous example cells and the import cell at the top of the notebook.**

In [ ]:
# From the CORGIS Dataset Project
# By Austin Cory Bart acbart@vt.edu
# Version 2.0.0, created 3/22/2016
# https://corgis-edu.github.io/corgis/csv/skyscrapers/

sky = Table.read_table('skyscrapers.csv')
sky = (sky.with_column('age', 2022 - sky.column('completed'))
          .drop('completed'))
sky.show(3)

In [ ]:
sky.select('city', 'material', 'height').group(['city', 'material'], max)

In [ ]:
grid = sky.pivot('material', 'city', 'height', max)
grid

In [ ]:
tallest_concrete = grid.column('concrete')
tallest_steel = grid.column('steel')
grid.with_column('difference', tallest_steel - tallest_concrete)

In [ ]:
sky.select('material', 'city', 'height').group(['city', 'material'], collect=max)

In [ ]:
sky_p = sky.pivot('material', 'city', values='height', collect=max)
sky_p.show()

In [ ]:
sky_p = sky_p.with_column(
    'difference', 
    abs(sky_p.column('steel') - sky_p.column('concrete'))
)
sky_p

In [ ]:
sky_p.sort('difference', descending=True)